

  <div class="bv-section-condor" id="condor" >
    <div class=" bv-orange-condor">
      <div class="container "><img class=" bv-logo-condor " src="{{site.img}}/content/condor/condor.svg"></div>

    </div>
    <div class="container vpad--xxl text--left text--xxl ">

      <div class="bob bob--swap">
      <div class="bob__img">
        <a href="http://bit.ly/2ShX45Y" target="_blank">

          <div class="bg-img bg-img--3-2 bv-img-condor" style="background-image: url('{{site.img}}/content/condor/condor.jpg');">
             <div class="bv-badge-condor condor-title condor-title--sm condor-text--bold " style="letter-spacing:-1px!important; line-height:.8em;padding:6px 0 5px 0;">
              <span class="condor-text condor-text--normal condor-text--xxxl">ab</span><br>229,<span class="condor-title condor-text--bold condor-title--xs">99€</span>
              <br><div class="condor-text condor-text--normal condor-text--xxxl" style="line-height: 0.5em;">one-way</div>
            </div>


          </div>
        </a>
      </div>
      <div class="space--md"></div>
      <div class="bob__text condor-text condor-text--xxxl">
        <div class="condor-title condor-title--lg condor-text--semi">Auszeit auf Grenada</div>
        <p>Mit Direktflügen bis Ende April 2019 schon ab 229,99 € one-way von 7 deutschen Flughäfen ins Karibik-Paradies Grenada.</p>
          <div class="space--lg"></div>
        <a href="http://bit.ly/2ShX45Y" target="_blank" class="btn btn--condor condor-text condor-text--bold" >Flug finden</a>

      </div>

    </div>
  </div>

</div>
