// general styles for the project that wouldn't be a reuseable component


/* ==========================================================================
   Dividers & Alignment
   ========================================================================== */
   .bv-clearfix {
        overflow: auto;
   }
   .bv-title-divider::before{
     content: url(../img/icons/flower.png);
     transform: scale(.50);
     display: block;
     margin-bottom: -100px;
     /*margin-bottom: -2px;
     transform: scale(.65);*/
  /*
     @include bp($md) {
    content: url(../img/icons/flower.svg);
       display: block;
       margin-top: 10px;
       transform: scale(.5);

     }

     @include bp($xl) {
      content: url(../img/icons/flower.svg);
       display: block;
       margin-top: 2px;
       transform: scale(.3);

     }*/
   }
   .bv-headline-divider::after {
       content: ('––');
       display: block;
       //color: $grey;
       font-size: $s5;
       letter-spacing: -4px;
       margin: -15px 0 -10px -2px;
     }



   /* ==========================================================================
       Parallax
   ========================================================================== */

   .bv-parallax{
     background-attachment: fixed!important;
     background-position: center;
     background-repeat: no-repeat;
     background-size: cover;

      &--left   {
            background-attachment: fixed;
            background-position: 32% 50%;
            background-repeat: no-repeat;
            background-size: cover;}


      &--right   {
            background-attachment: fixed;
            background-position: 60% 50%;
            background-repeat: no-repeat;
            background-size: cover;}

      &--darkest   {
            background-attachment: fixed;
            background-color: rgba(5,20,40,0.9);
            background-blend-mode: multiply;
            background-position: center;
            background-size: cover;}

      &--darker   {
            background-attachment: fixed;
            background-color: rgba(5,20,40,0.7);
            background-blend-mode: multiply;
            background-position: center;
            background-size: cover;}

      &--dark   {
            background-attachment: fixed;
            background-color: rgba(5,20,40,0.5);
            background-blend-mode: multiply;
            background-position: center;
            background-size: cover;}

      &--lighter   {
            background-attachment: fixed;
            background-color: rgba(250,250,250,0.7);
            background-blend-mode: lighten;
            background-position: center;
            background-size: cover;
            }

      &--light   {
            background-attachment: fixed;
            background-color: rgba(250,250,250,0.5);
            background-blend-mode: color;
            background-position: center;
            background-size: cover; }

      &--white   {
            background-attachment: fixed;
            background-color: rgba(250,250,250,0.8);
            background-blend-mode: overlay;
            background-position: center;
            background-size: cover; }

      }


   @media only screen and (max-width: 1024px) {

      .bv-remove-bg{
        background-image: none!important;
        background-blend-mode: mixin;

        &--black{
          background-image: none!important;
          background-color: $black;}
      }

      .bv-parallax{
            background-attachment: scroll;
            background-size: 200%;
            background-position: right top;
            background-color: $black;

         &--darkest   {
            background-attachment: scroll;
            background-size: cover;
          }
          &--darker   {
            background-attachment: scroll;
            background-size: cover;
          }
          &--dark   {
            background-attachment: scroll;
            background-size: cover;
          }
          &--lighter   {
            background-attachment: scroll;
            background-size: cover;
            background-color: none;
          }
          &--light   {
            background-attachment: scroll;
            background-size: cover;
            background-color: none;
          }
          &--white   {
            background-attachment: scroll;
            background-size: cover;
            background-color: none;
          }
        }
      }



  .bv-drawing{

    background-repeat: no-repeat;
    background-blend-mode: normal;
    background-position: center;
    background-size: 30%;

  }



  /* ==========================================================================
     Condor banner
     ========================================================================== */

  .bv-orange-condor{

  background-color: $c-orange;
  background-image: linear-gradient(90deg, $c-darkorange, $c-lightorange);
  height: 10px;
  overflow: visible;
  text-align: center;

  @include bp($xxl){

      text-align: left; }
  }


  .bv-section-condor{
    color:$white;
    background-color: #333;


  }

  .bv-logo-condor{
    text-align: center!important;
    width: 180px;
    margin-top: -1px;

    }

  .bv-img-condor{

      outline-offset: -3px;
      outline: 6px solid #fff;
      box-shadow: 0px 0px 25px 15px rgba($black, .2);
      transform: rotate(0deg);
      margin-top: 15px;
      @include bp($xxl){

        transform: rotate(3.5deg); }
    }

  .bv-badge-condor{
    position: absolute;
    width: 100px;
    height: 100px;
    top: $s1 ;
    right: $s1;
    //border: 4px solid $c-orange;
    text-align: center;
    border-radius: 100px;
    background-color: $c-orange;
    background-image: linear-gradient(45deg, $c-darkorange, $c-lightorange);
    color: $white;
    transform: rotate(0deg);
    z-index: 10;

    @include bp($lg){

      width: 110px;
      height: 110px;}

    }



  /* ==========================================================================
    Flight tag - Offers
    ========================================================================== */


.bg-white-mob{

  background-color: $g-sand;
margin-left: $s-5;
  @include bp($xxl){  background-color: $white; margin-left: 5px;}

}


.flight-tag {
    position: absolute;
    top: $s-2;
    left: $s-2;
    display: block;
    width: 50%;
    @include bp($sm){
      top: $s0;
      left: $s0;
      width: 146px;
    }
  }
