// general styles for the project that wouldn't be a reuseable component


/* ==========================================================================
   Dividers & Alignment
   ========================================================================== */
   .bv-clearfix {
        overflow: auto;
   }

   .bv-title-divider::before, .bv-title-divider::after{
       content: ('===========');
       //display: block;
       //color: $grey;
       font-size: $s5;
       font-family: $font-title-02;
       letter-spacing: -5px;
       font-weight: 300;
       margin: 10px;
   }

   .bv-headline-divider::after {
       content: ('=====');
       font-family: $font-title-02;
       display: block;
       //color: $grey;
       font-size: $s5;
       letter-spacing: -5px;
       font-weight: 300;
       margin:  -1px;
     }



   /* ==========================================================================
       Parallax
   ========================================================================== */

 .bv-background {
   background: url(../img/content/hero.jpg) ;
   background-attachment: fixed;
   background-size: cover;
   background-position: center;
 }

 .bv-intro-gb {

   background-color: rgba($b-darkgrey, 0.9);

   filter: alpha(opacity=60); /* For IE8 and earlier */
 }



   .bv-parallax{
     background-attachment: fixed!important;
     background-position: center;
     background-repeat: no-repeat;
     background-size: cover;

      &--left   {
            background-attachment: fixed;
            background-position: 32% 50%;
            background-repeat: no-repeat;
            background-size: cover;}


      &--right   {
            background-attachment: fixed;
            background-position: 60% 50%;
            background-repeat: no-repeat;
            background-size: cover;}

      &--darkest   {
            background-attachment: fixed;
            //background-color: rgba($b-darkgrey,0.9);
            //background-blend-mode: overlay;
            //background: rgba($b-darkgrey,0.9);
            background-position: center;
            background-size: cover;}

      &--darker   {
            background-attachment: fixed;
            background-color: rgba(5,20,40,0.7);
            background-blend-mode: multiply;
            background-position: center;
            background-size: cover;}

      &--dark   {
            background-attachment: fixed;
            background-color: rgba(5,20,40,0.5);
            background-blend-mode: multiply;
            background-position: center;
            background-size: cover;}

      &--lighter   {
            background-attachment: fixed;
            background-color: rgba(250,250,250,0.7);
            background-blend-mode: lighten;
            background-position: center;
            background-size: cover;
            }

      &--light   {
            background-attachment: fixed;
            background-color: rgba(250,250,250,0.5);
            background-blend-mode: color;
            background-position: center;
            background-size: cover; }

      &--white   {
            background-attachment: fixed;
            background-color: rgba(250,250,250,0.8);
            background-blend-mode: overlay;
            background-position: center;
            background-size: cover; }

      }


   @media only screen and (max-width: 1024px) {

      .bv-remove-bg{
        background-image: none!important;
        background-blend-mode: mixin;
        background-color: $b-darkgrey;

        &--black{
          background-image: none!important;
          background-color: $black;}
      }

      .bv-parallax{
            background-attachment: scroll;
            background-size: 200%;
            background-position: right top;
            background-color: $black;

         &--darkest   {
            background-attachment: scroll;
            background-size: cover;
          }
          &--darker   {
            background-attachment: scroll;
            background-size: cover;
          }
          &--dark   {
            background-attachment: scroll;
            background-size: cover;
          }
          &--lighter   {
            background-attachment: scroll;
            background-size: cover;
            background-color: none;
          }
          &--light   {
            background-attachment: scroll;
            background-size: cover;
            background-color: none;
          }
          &--white   {
            background-attachment: scroll;
            background-size: cover;
            background-color: none;
          }
        }
      }





  /* ==========================================================================
    Flight tag - Offers
    ========================================================================== */


.bg-white-mob{

  background-color: $b-lightgrey;
margin-left: $s-5;
  @include bp($xxl){  background-color: $white; margin-left: 5px;}

}


.flight-tag {
    position: absolute;
    top: $s-2;
    left: $s-2;
    display: block;
    width: 50%;
    @include bp($sm){
      top: $s0;
      left: $s0;
      width: 146px;
    }
  }
