

<div class="container container--xxl " style=" ">

  <a href="{{offer.link}}" target="_blank">

    <div class="bob    ">
      <div class="bob__img">
        <a href="{{site.baseurl}}{{destination.url}}"  class="bg-img bg-img--4-3 " style="background-image: url('{{offer.image}}'); " ></a>
      </div>
      <div class="bob__text">
      <h3 class="title title--sm text--light text--b-dark" style="letter-spacing: 1px; line-height:2.2rem;">{{offer.title}}</h3>
      <div class="space--sm"></div>
      <h4 class="text text--blue text--lg text--normal">{{offer.location}}</h4>
        <div class="space--xs"></div>
        <div class="offer__description text text--black text--md">{{offer.description}}</div>
        <div class="space--xs"></div>
        <div class="offer__bottom text--black">
          <div class="offer__bottom-left">

            {% if offer.saved %}
              <div class="offer__saved">
                <div class="offer__saved-label text">Sparen Sie bis&nbsp;zu</div>
                  <div class="space--xs"></div>
                <div class="offer__saved-percent text--xxl" style="">{{offer.saved}}%</div>
              </div>
              <div class="offer__separator"></div>
            {% endif %}

            <div class="offer__details text text--left">
              <div>Ab <span class="offer__price ">{{offer.price}}€</span></div>
              <div class="text--sm">{{offer.price-description}}</div>
            </div>
          </div>
          <div class="offer__bottom-right">
            <div class="offer__arrow"></div>
          </div>
        </div>
      </div>
    </div>

  </a>
<div class="space--xxxl"></div>
</div>
