<!DOCTYPE html>
<html lang="en">

  {% include page/head.html %}

  <body>

    {% include components/tracking.html %}

    {% include page/header.html %}

    {% include page/banner.html %}

    <div class="content-spacing section-spacing">

      <!-- loops through section file for page content -->



      <div class="  bv-background bv-remove-bg" >
        <div class=" bv-intro-gb" >
          <div class="space--xxl"></div>
          <div class="container width width--xl text--white text--left text--xxl text--semi" >
            <div class="title title--xl text--upper ">{{page.intro-title}}</div>
            <div class="space--sm"></div>
            <div class="text text--xxl text--justify">{{page.intro}}</div>
              <div class="space--xl text--center">
               <a href="javascript:void(0);" class="btn btn--outline js-open-modal " data-modal-group="video" data-modal-item="0">Video ansehen</a>
             </div>

                 <div class="space--xxl"></div>
          </div>
        </div>

      </div>

    {% for section in site.data.sections %}

      <div id="{{section.id}}" class="harvey{% cycle '', ' harvey--swap' %} {% cycle 'bg--b-light', ' bg--b-dark' %}">
        <div class="harvey__img" style="background-image: url('{{site.img}}/content/{{section.id}}.jpg');"> </div>
        <div class="harvey__text boxpad--lg text  text--justify {% cycle 'text--b-dark', 'text--white' %} text--xxl">
          <h2 class="title title--xl  text--upper text--left bv-headline-divider ">{{section.title}}</h2>
          <p>{{section.description}}</p>
          <div class="space--lg"></div>
        </div>
      </div>
      {% endfor %}





    <div id="offers" class=" vpad--lg bg--sand text--center" >
      <div class="space--xl"></div>
      <div class="container">
        <div class="width width--xxl  text--xxl text--semi" >
          <div class="title title--xxl text--upper text--b-dark text--upper ">Top-Angebote</div>


        </div>
      </div>
    </div>



      <!-- Offers section -->



    {% include offer/all-offers.html %}
    {% include page/promo-offers.html %}
    {% include page/footer.html %}

  </div>

  </body>

</html>
