<!DOCTYPE html>
<html lang="en">

  {% include page/head.html %}

  <body>

    {% include components/tracking.html %}

    {% include page/header.html %}

    {% include page/banner.html %}

    <div class="content-spacing section-spacing">

      <!-- loops through section file for page content -->


      <div class=" vpad--xxl bg--blue bv-drawing" style="background-image: url('{{site.img}}/content/bg-intro.jpg');">
        <div class="container">
          <div class="width width--xl text--white text--left text--xxl text--semi" >
            <div class="title title--xl text--upper ">{{page.intro-title}}</div>
            <div class="space--sm"></div>
            <div class="text text--xl">{{page.intro}}</div>
          </div>
        </div>
      </div>

    {% for section in site.data.sections %}

      <div id="{{section.id}}" class="harvey{% cycle '', ' harvey--swap' %} {% cycle 'bg--sand', ' bg--white' %}">
        <div class="harvey__img" style="background-image: url('{{site.img}}/content/{{section.id}}.jpg');"> </div>
        <div class="harvey__text boxpad--lg text text--xl">
          <h2 class="title title--xl text--light text--upper text--blue bv-headline-divider ">{{section.title}}</h2>
          <p>{{section.description}}</p>
          <div class="space--lg"></div>
        </div>
      </div>
      {% endfor %}


{% include page/condor.html %}


    <div id="offers" class=" vpad--lg bg--sand text--center" >
      <div class="space--xl"></div>
      <div class="container">
        <div class="width width--xxl  text--xxl text--semi" >
          <div class="title title--xxl text--upper text--blue text--upper ">Top-Angebot</div>
          <div class="space--xl"></div>
          <div class="text text--xl">Genießen Sie die atemberaubende Aussicht auf die Bucht und residieren komfortabel im True Blue Bay&nbsp;Resort. In diesen bunten und stimmungsvollen Zimmern und Suiten, umgeben vom türkisblauen Ozean und feinsten Korallensandstrand, steht Ihrem Traumurlaub in der Karibik nichts mehr im Wege.</div>
        </div>
      </div>
    </div>



      <!-- Offers section -->



    {% include offer/all-offers.html %}
    {% include page/promo-offers.html %}
    {% include page/footer.html %}

  </div>

  </body>

</html>
